body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #eff;
}

debug {
    color: red ;
    background-color: pink;
}

h1 {
    color: navy;
}

h2 {
    color: orange;
}


pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 
 background-color: green;
}